<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landlord</title>
    <link rel="stylesheet" href="/styles/register-login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap" rel="stylesheet">
</head>
<body>
  <div class = "container">
    <div class = "left">
      <img src = "/assets/reglogin.png" />
    </div>
    <div class = "right">
      <div class = "title">
        <h1>Hey Landlord!</h1>
      </div>
      <div class = "forms">
        <div class="tab">
            <button class="tablinks active" onclick="openTab(event, 'Login')"><b>Login</b></button>
            <button class="tablinks" onclick="openTab(event, 'Register')"><b>Register</b></button>
          </div>
          <div id="Login" class="tabcontent">
            <!-- <h2>Login</h2> -->
            <form  method="POST" action = "/api/landlordlogin">
              <label for="username">Email :</label>
              <input type="email" id="username" name="email" required>
              <br>
              <label for="password">Password :</label>
              <input type="password" id="password" name="password" required>
              <br>
              <div class = "button">
                <button type="submit"><b>Login</b></button>
              </div>
            </form>
          </div>
          
          <div id="Register" class="tabcontent">
            <!-- <h2>Register</h2> -->
            <form method="POST" action = "/api/landlordregister">
              <label for="newusername">Name :</label>
              <input type="text" id="newusername" name="newname" required>
              <br>
              <label for="newphone">Phone :</label>
              <input type="number" id="newphone" name="newphone" required>
              <br>
              <label for="newemail">Email :</label>
              <input type="email" id="newemail" name="newemail" required>
              <br>
              <label for="newpassword">Password :</label>
              <input type="password" id="newpassword" name="newpassword" required>
              <br>
              <label for="confirmpassword">Confirm Password :</label>
              <input type="password" id="confirmpassword" name="confirmpassword" required>
              <br>
              <div class = "button">
                <button type="submit"><b>Register</b></button>
              </div>
            </form>
          </div>
      </div>
    </div>
    </div>
      <script src = "/scripts/registerLogin.js"></script>
</body>
</html>