@import url('./main.css');

.container {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    font-weight: 900;
    gap : 30px;
}

.container .title {
    width: 100%;
    background-color: aqua;
}

.container .head {
    display: flex;
    width: 100%;
}

.container .image {
    width: 40%;
    display: flex;
    align-items:center;
    justify-content: center;
}

.container .image img {
    max-width: 350px;
}

.container .details {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.container .details p {
    font-weight: 900;
    font-size: 24px;
}

.container .content {
    width: 100%;
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}
  
  /* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}
  
  /* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}
  
  /* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}
  
  /* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.tabcontent .mypg {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.tabcontent .mypg img {
    max-width: 200px;
}

.tabcontent .mypg .pg {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.tabcontent .mypg .pg table {
    width: 100%;
    border-collapse: collapse;
}

.tabcontent .mypg .pg td {
    padding: 5px;
    font-size: 18px;
}

.container .footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .footer button {
    height: 50px;
    width: 100px;
    font-size: 18px;
    border: none;
    background-color: aqua;
    border-radius: 5px;
}

.container .footer button:hover {
    cursor: pointer;
}

.container .tabcontent .newpgform {
    width: 100%;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .tabcontent .newpgform form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 90%;
    align-items: center;
    justify-content: center;
}

.container .tabcontent .newpgform form .box {
    width: 100%;
    display: flex;
}

.container .tabcontent .newpgform form table {
    width: 100%;
    border-collapse: collapse;
}

.container .tabcontent .newpgform form td {
    padding: 10px 25px;
    font-size: 18px;
}

.container .tabcontent .newpgform form select option {
    font-weight: 600;
}

.container .tabcontent .newpgform form select, .container .tabcontent .newpgform form input[type = "text"], .container .tabcontent .newpgform form input[type = "number"] {
    height: 40px;
    width: 100%;
    padding-left: 25px;
    font-weight: 600;
    font-size: 16px;
    border-radius: 5px;
}

.container .tabcontent .newpgform form textarea {
    height: 60px;
    width: 100%;
    padding: 10px;
    font-weight: 600;
    font-size: 16px;
    border-radius: 5px;
    resize: none;
}

.container .tabcontent .newpgform form input[type = "text"]{
    font-weight: 600;
}

.container .tabcontent .newpgform form button {
    margin-top: 10px;
    width: 200px;
    height: 50px;
    font-size: 16px;
    font-weight: 600;
    border: none;
    background-color: yellow;
}

.container .tabcontent .newpgform form button:hover {
    cursor: pointer;
}