@import url('./main.css');

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container .title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.container .aboutpg {
    width: 70%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap : 10px;
}

.container table {
    width: 100%;
    border-collapse: collapse;
}

.container td {
    width: 25% ;
    text-align: center; 
    padding: 10px;
    font-size: 16px;
    font-weight: 900;
}

.container .aboutowner {
    width: 70%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap : 10px;
}

.container .buttons {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    margin-bottom: 20px;
}

.container .buttons button {
    width : 200px;
    height: 50px;
    font-size: 16px;
    font-weight: 600;
}

.container .buttons button:hover {
    cursor: pointer;
}

.container .comments {
    width: 70%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap : 10px;
    border: 1px solid black;
    padding: 5px;
}

.container .comments input {
    height: 30px;
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    padding: 5px;
}

.container .comment {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap : 10px;
    border: 1px solid black;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
}

.container .comment p {
    font-size: 16px;
    font-weight: 600;
}

.container .comments .commentform {
    width: 100%;
    display: flex;
    gap : 10px;
    justify-content: space-between;
}

.container .comments .commentform form {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.container .comments .commentform input[type = "text"] {
    width: 90%;
    height: 40px;
    font-size: 16px;
    font-weight: 600;
}

.container .comments .commentform button {
    height: 40px;
    font-size: 16px;
    font-weight: 600;
}